numpy == 1.24.4
pandas == 2.1.4
matplotlib == 3.8.2
seaborn == 0.13.1
scikit-learn == 1.3.2
scipy == 1.11.4
optuna == 3.5.0
FuzzyTM>=0.4.0 # optuna required
blosc2~=2.0.0 # optuna required
cython>=0.29.21 # optuna required
joblib
shap==0.44.1
google-cloud-aiplatform
uvicorn
fastapi